.DS_Store

# 一些大文件

并行程序设计/大作业选题/PCFG_framework.zip
并行程序设计/大作业选题/PCFG_framework 2/input/Rockyou-singleLined-full.txt

# 暂时不提交，防抄袭
# 数据库（已提交）
# lhz的资料，没必要提交
编译系统原理
.DS_Store

# 下面的文件夹是已经整理完成的课程，但是本地想删除存储，防止git跟踪
# 计算机图形学
习概/
