.DS_Store

# 一些大文件

baseline_CF
人工智能导论/实验/lab3垃圾短信识别/code/datasets/5f9ae242cae5285cd734b91e-momodel/sms_pub.csv
并行程序设计/大作业选题/PCFG_framework.zip
人工智能导论/lab3垃圾短信识别/code/datasets
大数据计算机应用/推荐系统编程大作业/2312966_林晖鹏+2212574_文雅竹+2313725_张耕嘉+第二次作业.zip

# 暂时不提交，防抄袭
数据库